<!DOCTYPE html>
<html
        class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/ui-box.css">
    <link rel="stylesheet" href="css/ui-base.css">
    <link rel="stylesheet" href="css/ui-color.css">
    <link rel="stylesheet" href="css/uap.icon.css">
    <link rel="stylesheet" href="css/uap.control.css">
    <link rel="stylesheet" href="css/userInfo.css">
    <link rel="stylesheet" href="css/seletor.css">

    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body class="">

<div class="uh bc-head  ubb bc-border" data-control="HEADER"
     id="Header_yt3wQr">
    <div class="ub">

        <!-- <div class=" " id="Icon"> -->
        <!-- <img class="returnPng" src="css/img/returnNoline.png"> -->
        <!-- </div> -->
        <h1 class="ut ub-f1 ulev-3 ut-s tx-c" tabindex="0">选择催费员或抄表员</h1>
        <!-- <div class="nav-btn" id="nav-right"> -->
        <!-- <div class="fa  fa-1g  ub-img1"></div> -->
        <!-- </div> -->
    </div>
</div>

<div class="uinput ub  ub-f1" data-control="SEARCH" id="Search">

    <input id="seletor_input" placeholder="请输入催费员或抄表员姓名" type="text"
           value="" class="ub-f1 ub ub-pc ub-ac gui-search"
           data-control-scope="Search">
    <span class="gui-i"></span>

    <div class="uinn fa sc-text gui-s-c">
        <img class="searchPng" src="css/img/search.png">
    </div>
    <div id="searchBtn" class="btn ub ub-ac bc-text-head ub-pc gui-s-btn">搜索</div>

</div>

<!--<div style="width: 100%; height: auto; background-color: #ECEBEB; z-index: 9999;">

    <div class="gui-bgx bgx_top"></div>
    <div class="gui-list-top list-top"></div>
    <div class="gui-wrapper topWrapper" style="margin-top: 1.5em;">
        <div class="ub c-wh uinn-a1 bc-border">
            <div class="gui-tariff-date-33 t-blu fs9 ufm1 ut-s" data-control="TEXT">DeptId</div>
            <div class="gui-tariff-date-33 t-blu fs9 ufm1 ut-s" data-control="TEXT">UserName</div>
            <div class="gui-tariff-date-33 t-blu fs9 ufm1 ut-s" data-control="TEXT">RealName</div>
        </div>
    </div>
</div>-->


<div class="" data-control="CONTENT" id="ScrollContent_RQF9yq">
    <ul style="position: absolute; top: 0.4em;
    width: 100%;">
        <li v-for="item in dataList" class="ub-pc" @click="searchClick(item.REAL_NAME,item.USER_NAME)">
            <div class="gui-wrapper liss  ubb bc-border">
                <div class="ub c-wh uinn-a1 line">
                    <div class="gui-tariff-date-33 fs9" data-control="TEXT" id="USER_NAME">{{item.USER_NAME}}</div>
                    <div class="gui-tariff-date-33 fs9" data-control="TEXT" id="REAL_NAME">{{item.REAL_NAME}}</div>
                    <div class="gui-tariff-date-33 t-blu fs9 ufm1 ut-s" data-control="TEXT" id="DEPT_NAME">
                        {{item.DEPT_NAME}}
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <!--<div class="btn-side-more" @click="nextPage()" id="btn_more">加载更多</div>-->
</div>
<div class="mask" id="mask">
    <div class="delConfirm" id="LoginoutForm">
        <p style="text-align: center; margin-bottom: 10%;">退出登录</p>
        <p style="text-align: center;">确定要退出当前用户吗？</p>
        <div class=" ub delBtnGroup">
            <div id="LoginOutSubmit" class="btn tx-c">确定</div>
            <div id="LoginOutCancel" class="btn tx-c">取消</div>
        </div>
    </div>
</div>


<script src="js/seletor.js"></script>


</body>

</html>
