.disNone {
    display: none;
}

.disBlock {
    display: block;
}

.tabview {
    background-color: #FFF;
    position: fixed;
    z-index: 99999;
    color: #000 !important;
    font-weight: bold;
    width: 100%;
    top: 2.25em;
    padding-top: 10px;
}

#Header {
    border-top-width: 00px;
    border-right-width: 00px;
    border-bottom-width: 1px;
    border-left-width: 00px;
    border-style: solid;
    border-color: rgba(241, 241, 241, 1);
    color: rgba(217, 217, 217, 1);
    z-index: 10000;
}

body {
    background-color: #eee;
}

.searchPng {
    width: 1.525em;
}
.returnPng{
    width: 1.5em;
}

#Icon {
    min-height: 2em;
    min-width: 3em;
    display: -webkit-box !important;
    display: box !important;
    position: relative;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    box-pack: center;
}


#Search {
    height: 2.00em;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 0, 0, 1);
    font-size: 1em;
    border-radius: 2em;
    font-family: Microsoft Yahei;
}

#searchInput {
    padding: 0px;
}

#searchSelect {
    font-size: 0.8em;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100px;
    position: relative;
    top: 0.4em;
}

#searchSelect option {
    font-size: 0.6em;
}

#Box_0 {
    width: .75em;
}

.btn-side {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 30%;
    height: 70%;
    background-color: #44af95;
    color: #FFF;
    text-align: center;
    border-radius: 10px;
    padding-top: 0.3em;
}

#ScrollContent {
    padding: 2.69em 0em 0em 0em;
}

.uinn-at4 {
    padding: 2.69em 0.5em 0em !important;
}

.uinn-4a {
    padding-top: 2.69em !important;
}

.uinn-a4 {
    padding: 2.69em .5em 0 !important;
}

.c-blu-rank {
    background-color: #a0bbed;
}

.t-blu-rank {
    color: #2d4572;
}

.uinn-t-rank {
    padding-top: 0.625em;
}

.uinn-a6 {
    padding: 1em 0.65em 0 0.65em;
}

.t-gra5 {
    color: #686868;
}

.umar-fr1 {
    margin-top: -1px;
}

.ulev-app1 {
    font-size: 0.875em;
}

.uinn-at4 {
    padding: 2.69em 0.5em 0em !important;
}

.uinn-4a {
    padding-top: 2.69em !important;
}

.uinn-a4 {
    padding: 2.69em .5em 0 !important;
}

.c-blu-rank {
    background-color: #a0bbed;
}

.t-blu-rank {
    color: #2d4572;
}

.uinn-t-rank {
    padding-top: 0.625em;
}

.uw-rank {
    width: 20%;
}

.uw-rank2 {
    width: 26%;
}

.uinn-a6 {
    padding: 1em 0.65em 0 0.65em;
}

.t-gra5 {
    color: #686868;
}

.umar-fr1 {
    margin-top: -1px;
}

.uinn-a1 {
    padding: 0.525em 0;
    margin: 0 0.625em;
}

.fs9 {
    font-size: 0.95em;
}

/*GUI*/
.gui-user-con {
    width: 66.8%;
    margin-left: 0.1em;
}

.gui-user-tite {
    width: 33%;
    text-align: right;
}

.gui-s-t {
    font-size: 1em;
    color: #666666;
    font-family: Microsoft Yahei;
    border: none;
}

.gui-search:focus {
    border: none;
    outline: none;
}

.gui-i {
    width: 0.05em;
    height: 1.5em;
    display: block;
    margin-top: 0.25em;
    /*background:-webkit-gradient(linear,0% 15%, 0% 80%, from(#F4F4F4), to(#F4F4F4), color-stop(0.5,#888888));*/
    background: linear-gradient(#F4F4F4, #cecece, #F4F4F4)
}

.gui-s-c {
    font-size: 0.8em;
    font-weight: 100;
    line-height: 1.5em;
    padding: 0.6em 0 0.5em 0.5em;
}

.gui-s-btn {
    color: #333;
    width: 2.6em;
    margin-right: 0.5em
}

.gui-list-top {
    height: 2.9em;
    width: calc(100% - 1.6em);
    margin: 0 0.8em;
    background-repeat: repeat-x;
    background-position: left top;
    background-image: url(/static/mobile/img/list-top.png);
    position: absolute;
    -moz-box-shadow: 0px 0.25em 0.25em #B5B5B5;
    -webkit-box-shadow: 0px 0.25em 0.25em #B5B5B5;
    box-shadow: 0px 0.25em 0.25em #B5B5B5;
}

.gui-tariff-date {
    width: 33.3333%;
    text-align: center;
    color: #359c83
}

.gui-tariff-date p {
    padding: 0.2em 0
}

.gui-tariff-d {
    width: 33.3333%;
    display: flex;
    justify-content: center;
    align-items: Center;
}

#tabs-container {
    width: 100%;
    position: absolute;
    top: 3.4em;
    overflow: hidden;
}

.tabs {
    width: calc(100% - 1.6em);
    margin: 0 0.8em;
    position: fixed;
    top: 3.2em;
    left: 0;
    height: 2.1875em;
    line-height: 2.1875em;
    border: 0.1em solid #44af95;
    border-radius: 0.6em;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 11000
}

.tabs a {
    float: left;
    display: block;;
    width: 33.333%;
    text-align: center;
    text-decoration: none;
    color: #333333;
}

.tabs a.active {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    background-color: #44af95;
}

.gui-body {
    position: relative;
}

.gui-bgx {
    width: calc(100% - 1.6em);
    margin: 0 0.8em;
    height: 0.3em;
    background-color: #44af95;
    border-radius: 2em;
}

.gui-wrapper {
    width: calc(100% - 1.6em);
    padding-bottom: 0.8em;
    margin: 0 0.8em;
    margin-top: 1.5em;
    background-color: #ffffff;
    -moz-box-shadow: 0px 0.25em 0.25em #B5B5B5;
    -webkit-box-shadow: 0px 0.25em 0.25em #B5B5B5;
    box-shadow: 0px 0.25em 0.25em #B5B5B5;
}

.icon {
    font-size: 0.8em
}

.select .text {
    padding: 0 0.2em;
}

.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.mask .delConfirm {
    width: 70%;
    height: 20%;
    background-color: #fff;
    /* margin: 150px auto; */
    padding: 10px;
    position: fixed;
    top: 35%;
    left: 15%;
    border: solid 1px #FFF;
    border-radius: 10px;
}

.mask .delBtnGroup {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 94%;
}

.mask .delBtnGroup .btn {
    width: 49%;
    margin-right: 1%;
    border-radius: 5px;
    border: solid 1px #C0C0C0;
}

/*.select select option{padding: 2em;border-color: #333333}*/
/*select option{-webkit-appearance: none;   !* google *!*/
/*-moz-appearance: none;  !* firefox *!*/
/*appearance: none;  background-color: #fff;border-color: #333333}*/
/*select option:hover{background-color: #1b8c68}*/
/*.select select option:hover{background-color: #00cc33}*/