<!DOCTYPE html>
<html
        class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/static/mobile/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/mobile/ui-box.css">
    <link rel="stylesheet" href="/static/mobile/ui-base.css">
    <link rel="stylesheet" href="/static/mobile/ui-color.css">
    <link rel="stylesheet" href="/static/mobile/uap.icon.css">
    <link rel="stylesheet" href="/static/mobile/uap.control.css">
    <link rel="stylesheet" href="/app/YxUserInfo/css/prcType.css">
    <script src="/static/web/js/jquery-1.10.2.js"></script>
    <script src="/static/web/js/vue.min.js"></script>
</head>

<body class="">
<div class="uh bc-head  ubb bc-border" data-control="HEADER"
     id="Header_drWmTM">
    <div class="ub">
        <div class=" " id="Icon">
            <img class="returnPng" src="/static/mobile/img/returnNoline.png">
        </div>
        <h1 class="ut ub-f1 ulev-3 ut-s tx-c" tabindex="0">受电点</h1>
        <div class="nav-btn" id="nav-right">
            <div class="fa  fa-1g  ub-img1"></div>
        </div>
    </div>
</div>
<div class="" data-control="CONTENT" id="ScrollContent_8RVEl2">
    <div class="scrollbox">
        <div class="" data-control="CUSTOMLISTVIEW" id="CustomListView_SYOL0P">
            <ul>
                <li v-for="item in dataList" class="li"
                    mvvm-scope="">
                    <div class="ub uinn3" data-control="BOX" id="Box_Cr0UcP">
                        <div data-control="TEXT" class="" id="Text_TeDF16">定价策略：</div>
                        <div data-control="TEXT" class="" id="Text_CEDnJc">{{ item.prcType }}</div>
                        <div data-control="TEXT" class="right_text_title" id="Text_W6urcn">需量核定值：</div>
                        <div data-control="TEXT" class="right_text_value" id="Text_hNTVjV">{{ item.prcType }}</div>
                    </div>
                    <div class="ub uinn3 ub-ac" data-control="BOX" id="Box_sDqicI">
                        <div data-control="TEXT" class="" id="Text_RFlSIP">基本电费计算方式：</div>
                        <div data-control="TEXT" class="" id="Text_7YS77c">{{ item.prcType }}</div>
                    </div>
                    <div class="ub uinn3 ub-ac" data-control="BOX" id="Box_VRjYKX">
                        <div data-control="TEXT" class="" id="Text_dFCBGX">功率因数核查方式：</div>
                        <div data-control="TEXT" class="" id="Text_jS8PVU">{{ item.prcType }}</div>
                    </div>
                    <div class="" data-control="CUSTOMLISTVIEW" id="CustomListView_JPAbRW">
                        <ul>
                            <li v-for="item2 in item.prcList" class="li_prc" @click="liClick(item2.spId,item2.prcCode)">
                                <div class="ub ub-ac text" data-control="BOX" id="Box_FBkdis">
                                    <div style="display: none">{{ item2.spId }}</div>
                                    <div data-control="TEXT" class="" id="Text_kyaf8T">电价码：</div>
                                    <div data-control="TEXT" class="" id="Text_zwnU2g">{{ item2.prcCode }}</div>
                                    <div data-control="TEXT" class="right_text_title" id="Text_BEPo0O">电价金额：</div>
                                    <div data-control="TEXT" class="right_text_value" id="Text_q3tXAc">{{ item2.kwhPrc }}</div>
                                    <div data-control="TEXT" class="right_text_value">元</div>
                                </div>
                                <div class="ub text" data-control="BOX" id="Box_XBoFuD">
                                    <div data-control="TEXT" class="" id="Text_SmNogc">目录电价名称：</div>
                                    <div data-control="TEXT" class="" id="Text_A3SaAE" style="width: 65%">{{ item2.catPrcName }}</div>
                                </div>
                                <div class="ub text" data-control="BOX" id="Box_RVzqf2">
                                    <div data-control="TEXT" class="" id="Text_wXcmDX">电价行业类别：</div>
                                    <div data-control="TEXT" class="" id="Text_cey9Ks">{{ item2.trade }}
                                    </div>
                                </div>
                                <div class="ub text" data-control="BOX" id="Box_uAR6MA">
                                    <div data-control="TEXT" class="" id="Text_fB2C8u">分时标志：</div>
                                    <div data-control="TEXT" class="" id="Text_h2R6D6">{{ item2.fsFlag }}</div>
                                    <div data-control="TEXT" class="right_text_title" id="Text_Ff7NdA">功率因数考核：</div>
                                    <div data-control="TEXT" class="right_text_value" id="Text_Ne2rTZ">{{ item2.pfStd }}</div>
                                </div>
                                <div class="ub text" data-control="BOX" id="Box_8e33xP">
                                    <div data-control="TEXT" class="" id="Text_BOoQjC">固定力率：</div>
                                    <div data-control="TEXT" class="" id="Text_eV7SIR">{{ item2.fixRatio }}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="/app/YxUserInfo/js/prcType.js"></script>
</body>

</html>