<!DOCTYPE html>
<html
        class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <!--<link rel="stylesheet" href="css/font-awesome.min.css">-->
    <link rel="stylesheet" href="css/ui-box.css">
    <link rel="stylesheet" href="css//ui-base.css">
    <link rel="stylesheet" href="css//ui-color.css">
    <link rel="stylesheet" href="css//uap.icon.css">
    <link rel="stylesheet" href="css//uap.control.css">
    <link rel="stylesheet" href="css/businessSearch.css">
    <!-- <link rel="stylesheet" href="css/userList.css"> -->

    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/swiper.min.js"></script>
	<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body class="">
<div class="uh ub ub-pc ub-ac ub-f1 bc-head" data-control="HEADER"
     id="Header">
    <!--  <div class="fa fa-1g ub-img1 " id="Icon">
          <img class="returnPng" src="/app/YXBusinessProcess/css/img/returnNoline.png">
      </div>-->

    <div class="uinput ub bc-border uba ub-f1" data-control="SEARCH"
         id="Search">
        <div class="uba bc-border bc-text gui-s-t">
            <!-- 	            <div class="text">请选择</div> -->
            <!-- 	            <div class="icon"></div> -->
            <select id="searchSelect" selectedindex="0">
                <option value=1>户号</option>
                <option value=4>工单号</option>
            </select>
        </div>
        <input style="margin-left: 20px;" id="searchInput"
               placeholder="请输入查询条件" type="tel" value=""
               class="ub-f1 ub ub-pc ub-ac gui-search" data-control-scope="Search"
               autocomplete="off">
        <!--<span class="gui-i"></span>-->
        <!--<div class="uinn fa sc-text gui-s-c" style="color: #adadad">-->
            <!--<img class="searchPng" src="css/img/search.png">-->
        <!--</div>-->
        <!--<div id="searchBtn" class="btn ub ub-ac bc-text-head ub-pc gui-s-btn" style="font-size: 1.125em"-->
        <!--&gt;搜索-->
        <!--</div>-->
    </div>
    <!--<div class="" data-control="BOX" id="Box_0"></div>-->
</div>

<div class="searchBtnFixed"id="searchBtn"  style="font-size: 1.025em">
    <img class="searchPng" src="css/img/out.png">
    <span style="float: right">搜索</span>
</div>
<div class="returnBtnFixed" style="font-size: 1.025em">
    <img class="searchPng" src="css/img/out.png">
    <span style="float: right">返回主菜单</span>
</div>
<div class="" data-control="CONTENT" id="ScrollContent_fCUgYq">
    <div class="scrollbox">
        <!--     <div class="box_bounce ub ub-ver ub-pc">
                <div class="ub-f1">
                </div>
                <div class="bounce_status">下拉更新......</div>
                <div class="bounce_status">松手更新......</div>
                <div class="bounce_status">更新中......</div>
            </div> -->
        <div class="CustomListView" data-control="CUSTOMLISTVIEW"
             id="CustomListView_NMhIw9" data-bind="">
            <ul data-bind="collection:$collection">
                <li data-control-scope="CustomListView_NMhIw9" mvvm-scope=""
                    class="li" v-for="item in dataList">
                    <div class="ub" data-control="BOX" id="Box_jTsZSq" data-bind="">
                        <div  class="ub-f4" id="Text_V62O9r"
                             data-bind="text:APPNO">{{item.APPNO}}
                        </div>
                        <div  class="gui-user-tite fs9" style="" id="title">状态：</div>
                        <div  class="gui-user-con t-blu fs9 ufm1 ut-s" style="width: 25%"  id="Text_2SQosz">{{item.STATE}}
                        </div>
                    </div>
                    <hr>
                    <div class="ub ub-f1" data-control="BOX" id="Box_4wOlUr">
                        <div  class="gui-user-tite fs9" style=""  id="title">用户编号：</div>
                        <div  class="gui-user-con t-blu fs9 ufm1 ut-s"  style="" id="Text_7w8SrK">{{item.CONSNO}}
                        </div>
                    </div>
                    <div class="ub ub-f1" data-control="BOX" id="Box_4wOlUr">
                        <div  class="gui-user-tite fs9" style=""  id="title">用户分类：</div>
                        <div  class="gui-user-con t-blu fs9 ufm1 ut-s"  style="" id="Text_QCmx2m">{{item.CONSTYPE}}
                        </div>
                    </div>
                    <div class="ub " data-control="BOX" id="Box_4wOlUr">
                        <div  class="gui-user-tite fs9" style="" id="title">申请编号：</div>
                        <div  class="gui-user-con t-blu fs9 ufm1 ut-s" style=""  id="Text_7w8SrK">{{item.APPNO}}
                        </div>
                    </div> <!-- 新加 业务类型 -->
                    <div class="ub ub-f1" data-control="BOX" id="Box_4wOlUr">
                        <div  class="gui-user-tite fs9" style="" id="title">业务类型：</div>
                        <div  class="gui-user-con t-blu fs9 ufm1 ut-s" style=""  id="Text_QCmx2m">{{item.BUSINESSTYPE}}
                        </div>
                        <!-- <div  class="gui-user-tite fs9" id="Text_uNhsFH">业务子类：</div>
                            <div  class="" id="Text_7w8SrK" data-bind="text:CONSNO"></div> -->
                    </div> <!-- 客户名称 -->
                    <div class="ub ub-f1" data-control="BOX" id="Box_4wOlUr">
                        <div  class="gui-user-tite fs9" style="" id="title">客户名称：</div>
                        <div  class="gui-user-con t-blu fs9 ufm1 ut-s" style=""  id="Text_7w8SrK">{{item.CONSNAME}}
                        </div>
                    </div>
                    <div class="ub ub-f1" data-control="BOX" id="Box_4wOlUr">
                        <div  class="gui-user-tite fs9" style="" id="title">客户地址：</div>
                        <div  class="gui-user-con t-blu fs9 ufm1 ut-s" style=""  id="Text_7w8SrK">{{item.CONSADDR}}
                        </div>
                    </div>

                    <div class="ub-f1 ub" data-control="BOX" id="Box_q5jYs9">
                        <div  class="gui-user-tite fs9"style="" id="title">受理时间：</div>
                        <div  class="gui-user-con t-blu fs9 ufm1 ut-s" style=""  id="Text_MedsHV">{{item.ACCEPTTIME}}
                        </div>
                    </div>
                    <div class="ub" data-control="BOX" id="Box_yCwZ1i">
                        <div  class="gui-user-tite fs9"style="" id="title">完成时间：</div>
                        <div  class="gui-user-con t-blu fs9 ufm1 ut-s" style=""  id="Text_TYKmRR">{{item.FINISHEDTIME}}
                        </div>
                    </div>
                    <input class="btn-side" id="meterSubmit" type="button"
                           @click="operate(item,$event)"
                           value="流程详情信息">
                    <!--@click="operate(item,$event)"-->
                </li>
            </ul>


        </div>
    </div>
</div>
<div class="mask" id="mask">
    <div class="delConfirm" id="LoginoutForm">
        <p style="text-align: center; margin-bottom: 10%;">退出登录</p>
        <p style="text-align: center;">确定要退出当前用户吗？</p>
        <div class=" ub delBtnGroup">
            <div id="LoginOutSubmit" class="btn tx-c">确定</div>
            <div id="LoginOutCancel" class="btn tx-c">取消</div>
        </div>
    </div>
</div>
<script src="js/businessSearch.js"></script>

<script type="text/javascript">
    function changeTab() {
        var tabsSwiper = new Swiper('#tabs-container', {
            speed: 500,
            autoHeight: true,
            observer: true,
            observeParents: true,
            on: {
                slideChangeTransitionStart: function () {
                    $(".tabs .active").removeClass('active');
                    $(".tabs a").eq(this.activeIndex).addClass('active');
                }
            }
        })
        $(".tabs a").on('click', function (e) {
            // alert("reload");
            e.preventDefault()
            $(".tabs .active").removeClass('active')
            $(this).addClass('active')
            tabsSwiper.slideTo($(this).index())
            $("#CustomListView_4sKwrQ").trigger("reload", this);
            // $("#userInfo").trigger("reload", this);
        })
    }

</script>
</body>

</html>