<!DOCTYPE html>
<html
	class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">

<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport"
	content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="/static/mobile/fonts/font-awesome.min.css">
<link rel="stylesheet" href="/static/mobile/ui-box.css">
<link rel="stylesheet" href="/static/mobile/ui-base.css">
<link rel="stylesheet" href="/static/mobile/ui-color.css">
<link rel="stylesheet" href="/static/mobile/uap.icon.css">
<link rel="stylesheet" href="/static/mobile/uap.control.css">
<link rel="stylesheet" href="/app/YXPhoneChange/css/addMobile.css">


	<script src="/static/web/js/jquery-1.10.2.js"></script>
	<script src="/static/web/js/vue.min.js"></script>
	<script src="/app/YXPhoneChange/js/swiper.min.js"></script>
</head>

<body class="" ontouchstart>
	<div class="uh bc-head  ubb bc-border" data-control="HEADER"
		id="Header_WB23Jk">
		<div class="ub">
			<div class="fa fa-1g ub-img1 " id="Icon">
				<img class="returnPng" src="/app/YXPhoneChange/css/img/returnNoline.png">
			</div>
			<h1 class="ut ub-f1 ulev-3 ut-s tx-c" tabindex="0">联系人增加</h1>
			<div class="nav-btn" id="nav-right">
				<div class="fa  fa-1g  ub-img1" id="commitSave">保存</div>
			</div>
		</div>
	</div>
	<div class="" data-control="CONTENT" id="ScrollContent_P3uGu9">
		<div class="scrollbox" style="padding: 15px;">
			<!-- 			<div class="box_bounce ub ub-ver ub-pc"> -->
			<!-- 				<div class="ub-f1"></div> -->
			<!-- 				<div class="bounce_status">下拉更新......</div> -->
			<!-- 				<div class="bounce_status">松手更新......</div> -->
			<!-- 				<div class="bounce_status">更新中......</div> -->
			<!-- 			</div> -->
			<div class="ub line" data-control="BOX" id="Box_txL7nN">
				<div class="ub-f1 title" data-control="BOX" id="Box_BssB7f">用户名</div>
				<div class="ub-f3 value"  data-control="BOX" id="userConsName">
				</div>
			</div>
			<div class="ub line" data-control="BOX" id="Box_rsr7cj">
				<div class="ub-f1 title" data-control="BOX" id="Box_rrqLVz">电话号</div>
				<div class="ub-f3 value" data-control="BOX" id="Box_4b4E4V">
					<input id="mobile" type="tel" class="DqMobile">
				</div>
			</div>
			<div data-control="TEXT" class="msg" id="Text_CbCRuB">
				<span style="color: red; margin: 5px;">*</span>请在文本框中输入要增加的电话号并点击保存
			</div>
		</div>
	</div>
	
<!-- 	<div class="ub mobile" id="mobileSelect"> -->
<!-- 		<div style="width: 33%" class="mobileText active"> -->
<!-- 			<img alt="" class="selIcon user" src="./css/img/user_active.png"> -->
<!-- 			<label class="phone">电气联系人</label> -->
<!-- 		</div> -->
<!-- 		<div style="width: 34%" class="mobileText"> -->
<!-- 			<img alt="" class="selIcon money" src="./css/img/money.png"> <label -->
<!-- 				class="phone">账务联系人</label> -->
<!-- 		</div> -->
<!-- 		<div style="width: 33%" class="mobileText "> -->
<!-- 			<img alt="" class="selIcon elec" src="./css/img/elec.png"> <label -->
<!-- 				class="phone">停送电联系人</label> -->
<!-- 		</div> -->
<!-- 	</div> -->
	<!--<script src="js/const.js">-->
		<!---->
	<!--</script>-->
	<!--<script src="js/uap.js">-->
		<!---->
	<!--</script>-->
	<!--<script src="js/uap.control.js">-->
		<!---->
	<!--</script>-->
	<!--<script src="js/uap.scrollbox.js">-->
		<!---->
	<!--</script>-->
	<!--<script src="js/template.import.js">-->
		<!---->
	<!--</script>-->
	<!--<script src="./assets/mvvm/addMobile.js">-->
		<!---->
<!--//	</script>-->
	<script src="/app/YXPhoneChange/js/addMobile.js">
		
	</script>
	<!--<script src="js/config.js"></script>-->
</body>

</html>