<!DOCTYPE html>
<html
	class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">

<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport"
	content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="/static/mobile/fonts/font-awesome.min.css">
<link rel="stylesheet" href="/static/mobile/ui-box.css">
<link rel="stylesheet" href="/static/mobile/ui-base.css">
<link rel="stylesheet" href="/static/mobile/ui-color.css">
<link rel="stylesheet" href="/static/mobile/uap.icon.css">
<link rel="stylesheet" href="/static/mobile/uap.control.css">
<link rel="stylesheet" href="/app/YXPhoneChange/css/userList.css">
<link rel="stylesheet" href="/static/mobile/swiper.min.css">


<script src="/static/web/js/jquery-1.10.2.js"></script>
<script src="/static/web/js/vue.min.js"></script>
<script src="/app/YXPhoneChange/js/swiper.min.js"></script>


</head>

<body class="" ontouchstart>
	<div class="uh ub ub-pc ub-ac ub-f1 bc-head" data-control="HEADERBOX"
		id="Header">
		<!-- 			<div class="ub ub-ac ub-pc" data-control="ICON" id="Icon"> -->
		<!-- 				<div class="fa" data-control-icon=""></div> -->
		<!-- 			</div> -->

		<!--<div class="fa fa-1g ub-img1 " id="Icon">-->
			<!--<img class="returnPng" src="/app/YXPhoneChange/css/img/returnNoline.png">-->
		<!--</div>-->
		<div class="uinput ub bc-border uba ub-f1" data-control="SEARCH"
			id="Search">

			<div class="uba bc-border bc-text gui-s-t">
				<!-- 	            <div class="text">请选择</div> -->
				<!-- 	            <div class="icon"></div> -->
				<select id="searchSelect" selectedindex="0">
					<option value=1>户号</option>
					<option value=2>手机号</option>
				</select>
			</div>
			<input id="searchInput" placeholder="请输入您的户号" type="tel" value=""
				class="ub-f1 ub ub-pc ub-ac gui-search" data-control-scope="Search">
			<span class="gui-i"></span>
			<div class="uinn fa sc-text gui-s-c" style="color: #adadad">
				<img class="searchPng" src="/app/YXPhoneChange/css/img/search.png">
			</div>
			<div id="searchBtn" class="btn ub ub-ac bc-text-head ub-pc gui-s-btn">搜索</div>
		</div>
		<div class="" data-control="BOX" id="Box_0"></div>
	</div>
	<div class="" data-control="CONTENT" id="ScrollContent_fJK7TF">
		<div class="scrollbox">
			<!-- 			<div class="box_bounce ub ub-ver ub-pc"> -->
			<!-- 				<div class="ub-f1"></div> -->
			<!-- 				<div class="bounce_status">下拉更新......</div> -->
			<!-- 				<div class="bounce_status">松手更新......</div> -->
			<!-- 				<div class="bounce_status">更新中......</div> -->
			<!-- 			</div> -->
			<div class="" data-control="CUSTOMLISTVIEW"
				id="CustomListView_4sKwrQ">

				<!--选修卡头部-->
				<div class="tabs gui-width">
					<a href="#" class="active">用户明细列表</a> <a href="#">已更改列表</a>
				</div>

				<div class="ub ub-pc ub-ac gui-body">
					<div id="tabs-container">
						<div class="swiper-wrapper" style="height: auto">
							<div id="userInfo" class="swiper-slide">
								<ul data-bind="collection:$collection">
									<li class="li" data-control-scope="CustomListView_4sKwrQ"
										mvvm-scope="" v-for="item in dataList">
										<div class="ub bc-border ubb" data-control="BOX"
											id="Box_K4ZEze">
											<div class="ub-f1" data-control="BOX" id="Box_zVChWj">
												<div data-control="TEXT" class="" id="Text_uyLtoK"
													data-bind="text:CONSNAME">{{item.CONSNAME}}</div>
											</div>
											<div class="ub-f1" data-control="BOX" id="Box_l2fVQr">
												<div data-control="TEXT" class="" id="Text_MnHRUq"
													data-bind="text:CONSNO">{{item.CONSNO}}</div>
												<!--0212665370-->
											</div>
										</div>
										<div class="ub" data-control="BOX" id="Box_UMpb3R">
											<div class="ub-f1" data-control="BOX" id="Box_giLhW9">
												<div class="" data-control="BOX" id="Box_xfzPPa">
													<div data-control="TEXT" class="labelList">电话：</div>
													<div data-control="TEXT" class="valueList" id="Text_aq37zY"
														data-bind="text:MOBILE">{{item.MOBILE}}</div>
												</div>
												<div class="" data-control="BOX" id="Box_lGAXt9">
													<div data-control="TEXT" class="labelList">地址：</div>
													<div data-control="TEXT" class="valueList" id="Text_8UlNLO"
														data-bind="text:ELECADDR">{{item.ELECADDR}}</div>
												</div>
											</div>
											<div class="ub-f1" data-control="BOX" id="Box_6LWcc4">
												<div class="button ub ub-ac bc-text-head ub-pc bc-btn"
													id="btn_operate" @click="optionClick(item.CONSNO)">操作</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div id="userUpdate" class="swiper-slide">
								<ul data-bind="collection:$collection">
									<li class="liUpdate" data-control-scope="CustomListView_Update"
										mvvm-scope="" v-for="item in dataListUpdate">
										<div class="ub bc-border ubb" data-control="BOX"
											id="Box_K4ZEze">
											<div class="ub-f1" data-control="BOX" id="Box_zVChWj">
												<div data-control="TEXT" class="" id="Text_uyLtoK"
													data-bind="text:consName">{{item.consName}}</div>
											</div>
											<div class="ub-f1" data-control="BOX" id="Box_l2fVQr">
												<div data-control="TEXT" class="" id="Text_MnHRUq"
													data-bind="text:consNo">{{item.consNo}}</div>
											</div>
										</div>
										<div class="ub" data-control="BOX" id="Box_UMpb3R">
											<div class="ub-f1" data-control="BOX" id="Box_giLhW9">
												<div class="updateData" data-control="BOX" id="Box_xfzPPa">
													<div data-control="TEXT" class="labelList">联系人类型：</div>
													<div data-control="TEXT" class="valueList" id="Text_aq37zY"
														data-bind="text:contactMode">{{item.contactMode}}</div>
												</div>
												<div class="updateData" data-control="BOX" id="Box_xfzPPa">
													<div data-control="TEXT" class="labelList">新电话：</div>
													<div data-control="TEXT" class="valueList" id="Text_aq37zY"
														data-bind="text:newPhone">{{item.newPhone}}</div>
												</div>
												<div class="updateData" data-control="BOX" id="Box_lGAXt9">
													<div data-control="TEXT" class="labelList">操作时间：</div>
													<div data-control="TEXT" class="valueList" id="Text_8UlNLO"
														data-bind="text:operTime">{{item.operTime}}</div>
												</div>
											</div>
											<div class="ub-f1" data-control="BOX" id="Box_6LWcc4">
												<div class="updateData" data-control="BOX" id="Box_xfzPPa">
													<div data-control="TEXT" class="labelList">操作类型：</div>
													<div data-control="TEXT" class="valueList" id="Text_aq37zY"
														data-bind="text:operType">{{item.operType}}</div>
												</div>
												<div class="updateData" data-control="BOX" id="Box_lGAXt9">
													<div data-control="TEXT" class="labelList">旧电话：</div>
													<div data-control="TEXT" class="valueList" id="Text_8UlNLO"
														data-bind="text:oldPhone">{{item.oldPhone}}</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mask" id="mask">
		<div class="delConfirm" id="LoginoutForm">
			<p style="text-align: center; margin-bottom: 10%;">退出登录</p>
			<p style="text-align: center;">确定要退出当前用户吗？</p>
			<div class=" ub delBtnGroup">
				<div id="LoginOutSubmit" class="btn tx-c">确定</div>
				<div id="LoginOutCancel" class="btn tx-c">取消</div>
			</div>
		</div>
	</div>


	<script src="/app/YXPhoneChange/js/userList.js"></script>



</body>

</html>