#Header_Iaw6Sb {
	}#ScrollContent_RQF9yx {
	top:2.50em;
}
#CustomListView_NY0PHR {
	height:6.25em;
	top:1.25em;
}
#Box_jpX3lG {
	width:100%;
	height:100%;
}
#Text_LfFp5r {
	}#Text_ebc5m0 {
	}#Box_fWY7hj {
	}#Text_c1nmRf {
	border-style:none;
}
#Text_sktryD {
	}#Text_grbr3M {
	}#Text_3LRdik {
	}#Box_oS4ezK {
	}#Text_1KGg1f {
	}#Text_3ti62A {
	}#Text_UWbUi7 {
	}#Text_T4huKR {
	}#Service_YBd7Hq {
	}#Model_R4Oehl {
	}#Collection_rHjiJd {
	}#ViewModel_jYDzFb {
	}